{
  "extends": "@logux/eslint-config/esm",
  "overrides": [
    {
      "files": "**/**.js",
      "rules": {
        "import/extensions": "on",
        "prefer-let/prefer-let": "off"
      }
    }
  ]
}
