.Badge {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  padding: 4px 8px 4px 6px;
  font-size: 14px;
  font-weight: 600;
  color: inherit;
  text-decoration: none;
  background-color: var(--bg-highlited);
  background-image: initial;
  border-radius: 4px;

  @media (hover) {
    &:hover {
      background-color: var(--bg-highlited-hover);
    }
  }
}

.Badge_logo {
  width: 20px;
  height: 20px;

  @media (prefers-color-scheme: dark) {
    @nest .Badge.is-github & {
      filter: invert(1);
    }
  }
}
