.Badge {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 4px 6px;
  font-size: 14px;
  font-weight: 800;
  color: inherit;
  text-decoration: none;
  background-color: var(--bg-highlited);
  background-image: initial;
  border-radius: 4px;
}

.Badge__logo {
  width: 20px;
  height: 20px;
}

@media (prefers-color-scheme: dark) {
  .Badge__logo--github {
    filter: invert(1);
  }
}

@media (hover) {
  .Badge:hover {
    background-color: var(--bg-highlited-hover);
  }
}
