doctype html
html
  head
    title browserl.ist: A page to display compatible browsers from a browserslist string.
    link(rel='stylesheet', href='/stylesheets/basscss.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="p3")
      block content
    div(class="border-top mt4 p3 center")
