doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    title browserl.ist: #{description}
    meta(name="description" content=description)
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="author" content="@jonrohan")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='shortcut icon', href='/images/favicon.png', type='image/png')
    link(rel='stylesheet', href='/stylesheets/tachyons.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class="sans-serif f4")
    block content
    div(class="pa5 f6 lh-copy")
      div(class="mb4")
        <script async src="https://cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=jonrohancodes" id="_carbonads_js"></script>
      span(class="mr4 db di-ns mb2 mb0-ns") Made by #[a(href="https://twitter.com/jonrohan") jonrohan]
      span(class="mr4 db di-ns mb2 mb0-ns") Code on #[a(href="https://github.com/jonrohan/browserl.ist") GitHub]
      span(class="mr4 db di-ns mb2 mb0-ns") Functionality provided by #[a(href="https://github.com/browserslist/browserslist") browserslist] <strong>#{bv}</strong>
      span(class="mr4 db di-ns mb2 mb0-ns") Data provided by #[a(href="https://github.com/Fyrd/caniuse") caniuse-db] <strong>#{cv}</strong>
