.Skip {
  position: absolute;
  top: 25px;
  left: 32px;
  z-index: 10;
  padding: 5px;
  overflow: hidden;
  font-size: 16px;
  background: var(--bg-highlited-hover);
  border: none;
  border-radius: 4px;
}

.Skip:not(:focus) {
  width: 0;
  height: 0;
  opacity: 0%;
}
