.Interactive {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  width: var(--block-width);
  padding: var(--block-padding);
  background-color: var(--bg-highlited);

  @media (width > 740px) {
    position: fixed;
    top: 0;
    /* Hide scrollbar */
    right: calc(-1 * (100vw - 100%));
    height: 100vh;
    overflow-y: scroll;
  }
}

.Interactive_title {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}
