.Pre {
  display: flex;
  flex-direction: column;
  padding: 12px;
  font-size: inherit;
  color: var(--accent);
  background-color: var(--text-highlited);
  border-radius: 8px;
  transition: background-color 0.3s;
}

.Pre code {
  font-size: inherit;
  background-color: initial;
}
