.Pre {
  display: flex;
  flex-direction: column;
  padding: 12px;
  font-size: inherit;
  color: var(--accent);
  background-color: var(--text-highlited);
  border-radius: 8px;
}

.Pre code {
  overflow: hidden;
  font-size: inherit;
  white-space: pre-wrap;
  background-color: initial;
}
