.Pre {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  line-height: 20px;
  color: var(--accent);
  background-color: var(--text-highlited);
  border-radius: 8px;
  padding: 12px;
}

.Pre code {
  overflow: hidden;
  font-size: inherit;
  font-weight: 300;
  white-space: pre-wrap;
  background-color: initial;
}
