.Article {
  box-sizing: border-box;
  flex-basis: 0;
  flex-grow: 1;
  width: 50%;
  padding: 0 32px 24px 32px;
}

.Article--stats {
  position: fixed;
  top: 0;

  /* Hide scrollbar */
  right: calc(-1 * (100vw - 100%));
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50%;
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  background-color: var(--bg-highlited);
}

.Article--stats h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}

.Article > *:last-child {
  margin-bottom: 0;
}

.Article > *:first-child {
  margin-top: 0;
}

.Article__list {
  padding: 0;
  margin: 0;
}

.Article__list li {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  list-style: none;
}

.Article__list li + li {
  margin-top: 5px;
}

.Article__h1 {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 0 8px 0 0;
  font-size: 22px;
}

.Article__logo {
  width: 32px;
  height: 32px;
}

.Article__h2 {
  margin-top: 32px;
  font-size: 22px;
  line-height: 26px;
}

.Article--intro__about {
  margin: 16px 0;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0.01em;
}

.Article--intro__supported {
  font-size: 14px;
  line-height: 20px;
  color: var(--text-secondary);
  letter-spacing: 0.02em;
}

.Article--intro__martians,
.Article--intro__cube {
  height: 16px;
  vertical-align: middle;
}

.Article--intro__martians {
  width: 23px;
}

.Article--intro__cube {
  width: 17px;
}

.Article--intro__header {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}

@media (max-width: 740px) {
  .Article {
    width: initial;
  }

  .Article--stats {
    position: initial;
    height: initial;
    max-height: initial;
    overflow: visible;
  }
}

@media (max-width: 460px) {
  .Article {
    padding: 16px 24px;
  }

  .Article--intro__about {
    font-size: 16px;
    line-height: 22px;
  }
}
