body {
  color: #111;
  background-color: #fff;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #490245;
}

a:hover {
  text-decoration: underline;
}

.neon-carrot { color: #fda34f; }
.plum { color: #490245; }
.bg-neon-carrot { background-color: #fda34f; }
.bg-plum { background-color: #490245; }
::selection { background: red; }

.bg-plum--hover:hover {
  background-color: #260024;
}
