.Form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.Form__queryTextAreaContainer {
  position: relative;
}

.Form__queryTextArea {
  box-sizing: border-box;
  width: 100%;
  min-height: 150px;
  padding: 12px;
  font-family: monospace, monospace;
  font-size: inherit;
  color: inherit;
  background-color: var(--main-bg);
  border: none;
  border-radius: 8px;
  resize: vertical;
}

.Form__queryTextArea::placeholder {
  opacity: 0%;
}

.Form__queryTextArea:focus-visible {
  outline-color: var(--accent);
}

.Form__hint,
.Form__loader {
  position: absolute;
  bottom: 16px;
  left: 16px;
  max-width: calc(100% - 12px * 2);
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: var(--text-secondary);
  overflow-wrap: break-word;
  pointer-events: none;
  background-color: var(--main-bg);
  opacity: 0%;
  transition: opacity 0.2s linear;
}

.Form__hint--hidden {
  opacity: 0%;
}

.Form__enterIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin: calc((20px - 1em) / -2) 0;
  vertical-align: middle;
  background-color: var(--bg-highlited);
  border-radius: 2px;
}

.Form__interactivePlaceholder {
  position: absolute;
  top: 12px;
  left: 12px;
  margin: 0;
  font-family: monospace, monospace;
  color: var(--text-secondary);
  pointer-events: none;
  opacity: 0%;
}

.Form__hint--required {
  color: var(--warning);
}

.Form__hint--error {
  color: var(--error);
}

.Form__hint--error a {
  color: inherit;
  pointer-events: initial;
}

.Form.Form--serverError:not(.Form--loaded) .Form__hint--error {
  opacity: 100%;
}

.Form__queryTextArea:placeholder-shown ~ .Form__interactivePlaceholder {
  pointer-events: none;
  opacity: 100%;
}

.Form__queryTextArea:placeholder-shown ~ .Form__interactivePlaceholder a {
  pointer-events: initial;
}

.Form:not(.Form--serverError):not(.Form--loaded) .Form__queryTextArea:invalid:focus-visible ~ .Form__hint--required {
  opacity: 100%;
}

.Form:not(.Form--serverError):not(.Form--justSend):not(.Form--loaded) .Form__queryTextArea:focus-visible:valid ~ .Form__hint--progress {
  opacity: 100%;
}

.Form--loaded .Form__loader {
  opacity: 100%;
}

.Form__loader::after {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 1ch;
  content: "";
  background-image:
    radial-gradient(var(--main-bg) 60%, transparent 60%),
    conic-gradient(transparent, currentcolor);
  border-radius: 50%;
  animation-name: form-loader;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.5, 0.2, 0.5, 0.8);
  animation-iteration-count: infinite;
}

@keyframes form-loader {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.Form__coverage {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}

.Form__coverage--hidden {
  display: none;
}

.Form__coverageSelect {
  appearance: none;
  display: inline-block;
  width: fit-content;
  max-width: 200px;
  padding: .25em 1.25em .25em .5em;
  font-size: 16px;
  height: 28px;
  line-height: 1.42;
  color: var(--accent);
  background-color: var(--main-bg);
  background-image: url(./select-arrow-light.svg);
  background-repeat: no-repeat;
  background-position: 96% 54%;
  border: none;
  border-radius: 4px;
}

.Form__coverageSelectLabel {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
}

@media (prefers-color-scheme: dark) {
  .Form__coverageSelect {
    background-image: url(./select-arrow-dark.svg);
  }
}
