.DocSection {
  padding: 16px;
  background-color: var(--bg-highlited);
  border-radius: 8px;
}

.DocSection + .DocSection {
  margin-top: 24px;
}

.DocSection__header {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.DocSection p {
  font-size: 16px;
  line-height: 22px;
}

.DocSection__subHeader {
  margin-top: 24px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  @mixin font-lato-black-custom;
}

summary .DocSection__subHeader {
  display: inline-block;
  margin-bottom: 0;
}

.DocSection details summary {
  width: fit-content;
  cursor: pointer;
}

.DocSection details[open] summary {
  margin-bottom: 8px;
}

.DocSection__list {
  padding: 0;
  margin: 0;
}

.DocSection__list li {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  list-style: none;
}

.DocSection__list li + li {
  margin-top: 5px;
}
