.DocSection {
  padding: 16px;
  overflow: hidden;
  background-color: var(--bg-highlited);
  border-radius: 8px;
}

.DocSection + .DocSection {
  margin-top: 24px;
}

@media (max-width: 740px) {
  .DocSection__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
  }

  .DocSection--open .DocSection__content {
    height: initial;
    max-height: 700px;
  }
}

.DocSection__button {
  display: none;
  width: 1em;
  height: 1em;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: transparent;
  border-top: 8px solid transparent;
  border-right: 0;
  border-bottom: 8px solid transparent;
  border-left: 12px solid;
}

@media (max-width: 740px) {
  .DocSection__header {
    position: relative;
    padding-inline-start: 24px;
  }

  .DocSection__button {
    position: absolute;
    display: block;
    transition: transform 1s;
    transform: translate(0, -50%);
    inset-block-start: 50%;
    inset-inline-start: 0;
  }

  .DocSection--open .DocSection__button {
    transform: translate(0, -50%) rotate(90deg);
  }
}

.DocSection__header {
  height: initial;
  opacity: initial;
}

.DocSection__title {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.DocSection p {
  font-size: 16px;
  line-height: 22px;
}

.DocSection__subTitle {
  margin-top: 24px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 800;
  line-height: 16px;
  text-transform: uppercase;
}

summary .DocSection__subTitle {
  display: inline-block;
  margin-bottom: 0;
}

.DocSection__list {
  padding: 0;
  margin: 0;
}

.DocSection__list li {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  list-style: none;
}

.DocSection__list li + li {
  margin-top: 10px;
}
