.Hedgehog {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--text-secondary);
}

.Hedgehog_image {
  width: 100%;
  max-width: 380px;
  aspect-ratio: 380 / 316;
  object-fit: contain;
}

.Hedgehog_text {
  width: 80%;
  margin: 0;
  text-align: center;
}

@media (width <= 740px) {
  .Hedgehog {
    gap: 16px;
    padding: 32px 0;
  }

  .Hedgehog_image {
    max-width: 100%;
    height: initial;
    max-height: 300px;
  }
}
