.Hedgehog {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 0;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--text-secondary);

  @media (width > 740px) {
    gap: 32px;
    padding: 0;
  }
}

.Hedgehog_image {
  max-width: 100%;
  max-height: 300px;
  aspect-ratio: 380 / 316;
  object-fit: contain;

  @media (width > 740px) {
    width: 100%;
    max-width: 380px;
    max-height: auto;
  }
}

.Hedgehog_text {
  width: 80%;
  margin: 0;
  text-align: center;
}
