.Docs {
  box-sizing: border-box;
  flex-basis: 0;
  flex-grow: 1;
  width: var(--block-width);
  padding: var(--block-padding);

  @media (width > 740px) {
    padding-top: 0;
  }
}

.Docs section {
  padding: 16px;
  background-color: var(--bg-highlited);
  border-radius: 8px;

  & + & {
    margin-top: 24px;
  }

  @media (width <= 740px) {
    margin: 0 -16px;
  }
}

.Docs h2 {
  margin-top: 32px;
  font-size: 22px;
  line-height: 26px;

  &:first-child {
    margin-top: 0;
  }
}

.Docs h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.Docs p {
  font-size: 16px;
  line-height: 22px;
}

.Docs h4 {
  margin-top: 24px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.Docs summary h4 {
  display: inline-block;
  margin-bottom: 0;
}

.Docs details summary {
  width: fit-content;
  cursor: pointer;
  user-select: none;
}

.Docs details summary:active {
  transform: scale(95%);
}

.Docs details[open] summary {
  margin-bottom: 8px;
}

.Docs ul {
  padding: 0;
  margin: 0;
}

.Docs li {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  list-style: none;

  & + & {
    margin-top: 5px;
  }
}
