body {
  padding: 10px;
}

.browsers {
  columns: 3;
  max-width: 1200px;
}

.browsers__item {
  break-inside: avoid;
  margin-bottom: 1em;
}

input,
select {
  margin-right: 10px;
  margin-bottom: 10px;
}
