@import "./BrowsersStat.css";
@import "./Article.css";
@import "./Form.css";
@import "./Introduction.css";
@import "./Badge.css";
@import "./QueryLinks.css";

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  color: var(--text-primary);
  background-color: var(--main-bg);
  accent-color: var(--accent);
}

p {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
}

.Link {
  padding-bottom: 0.2em;
  margin-bottom: -0.2em;
  color: var(--text-primary);
  text-decoration: none;
  background-image: linear-gradient(to top, var(--text-primary) 1px, transparent 1px, transparent);
  background-position: 0 1.3em;
  transition: background-position var(--time);

  --time: 0.3s;
}

@media (hover) {
  a:hover {
    background-position: 0 1.1em;
  }
}

code {
  /* stylelint-disable-next-line font-family-no-duplicate-names */
  font-family: monospace, monospace;
}

p code {
  padding: 0.2em;
  color: var(--accent);
  background-color: var(--text-highlited);
  border-radius: 0.2em;
}

.Pre {
  display: flex;
  flex-direction: column;
  padding: 12px;
  font-size: inherit;
  color: var(--accent);
  background-color: var(--text-highlited);
  border-radius: 8px;
}

.Pre code {
  font-size: inherit;
}
