.Introduction__about {
  margin: 16px 0;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0.01em;
}

.Introduction__supported {
  font-size: 14px;
  line-height: 20px;
  color: var(--text-secondary);
  letter-spacing: 0.02em;
}

.Introduction__supported img {
  vertical-align: middle;
}

.Introduction__header {
  display: flex;
  gap: 8px;
  align-items: center;
}
