a[data-query] {
  display: inline-block;
  pointer-events: initial;
  cursor: pointer;
  transition: transform 0.2s;
}

@media (hover) {
  /* TODO approve this hover by designers */
  a[data-query]:hover {
    transform: scale(1.05);
  }
}
