.Badges {
  display: flex;
  flex-grow: 1;
  gap: 8px;
  align-items: center;
  container-type: inline-size;
}

.Badges_item {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  padding: 4px 8px 4px 6px;
  font-size: 14px;
  font-weight: 600;
  color: inherit;
  text-decoration: none;
  background-color: var(--bg-highlited);
  background-image: initial;
  border-radius: 4px;

  &.is-secondary {
    @container (width < 420px) {
      display: none;
    }
  }

  &.is-npm {
    @container (420px < width < 460px) {
      display: none;
    }
  }

  @media (hover) {
    &:hover {
      background-color: var(--bg-highlited-hover);
    }
  }
}

.Badges_item_logo {
  width: 20px;
  height: 20px;

  @media (prefers-color-scheme: dark) {
    .Badges.is-github & {
      filter: invert(1);
    }
  }
}
