.Link {
  padding-bottom: 0.2em;
  margin-bottom: -0.2em;
  color: var(--text-primary);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-offset: 2px;
  text-decoration-color: var(--text-underline);
}

@media (hover) {
  .Link:hover {
    background-position: 0 1.1em;
    text-decoration-color: var(--text-underline-hover);
  }
}
