.QueryLink {
  cursor: pointer;
}

@media (hover) {
  .QueryLink:hover > code,
  .QueryLink:hover > pre {
    background-color: var(--text-highlited-hover);
  }
}

.QueryLink > code {
  padding: 0 4px;
  line-height: 20px;
  color: var(--accent);
  background-color: var(--text-highlited);
  border-radius: 4px;
}
