.QueryLink {
  display: inline-block;
  text-decoration: none;
}

@media (hover) {
  .QueryLink:hover > code,
  .QueryLink:hover > pre {
    background-color: var(--text-highlited-hover);
  }
}

.QueryLink > code {
  display: inline-block;
  padding: 0 4px;
  font-weight: 300;
  color: var(--accent);
  background-color: var(--text-highlited);
  border-radius: 4px;
}
