.Alert {
  padding: 12px 14px;
  margin-bottom: 8px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-primary);

  &:last-child {
    margin-bottom: 0;
  }

  &.is-error {
    background: var(--error);
  }

  &.is-warning {
    background: var(--warning);
    display: flex;
    justify-content: space-between;
  }
}

.Alert a {
  color: inherit;
}
.Alert_action {
   align-self: flex-start;
 }
