.BrowsersStat__regionCoverageBar {
  display: flex;
  gap: 1px;
  justify-content: flex-start;
  width: 100%;
  padding: 0;
  margin: 0 0 24px;
  overflow: hidden;
  counter-reset: alpha 0;
  background-color: var(--main-bg);
  border-radius: 6px;
}

.BrowsersStat__regionCoverageBarItem {
  box-sizing: border-box;
  width: calc(var(--proportion, 0) * 1%);
  overflow: hidden;
  line-height: 32px;
  text-overflow: ellipsis;
  white-space: nowrap;
  list-style: none;
  counter-increment: alpha -1;
  background-color: var(--accent-alternave);
  opacity: var(--alpha, 0%);

  /* TODO types for this variables */
  --proportion: 0;
  --alpha: 0;
}

.BrowsersStat__regionCoverageBarItem--texted::after,
.BrowsersStat__regionCoverageBarItem--texted::before {
  display: inline-block;
  width: 8px;
  content: "";
}

.BrowsersStat__tableContainer {
  columns: 2;
  column-fill: balance;
}

@media (min-width: 740px) and (max-width: 1200px) {
  .BrowsersStat__tableContainer {
    columns: 1;
  }
}

@media (max-width: 600px) {
  .BrowsersStat__tableContainer {
    columns: 1;
  }
}

.BrowsersStat__placeholder {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--separator);
}

@media (max-width: 740px) {
  .BrowsersStat__placeholder {
    gap: 16px;
    padding: 32px 0;
  }
}

.BrowsersStat__placeholderImage {
  width: 100%;
  object-fit: cover;
  max-width: 380px;
  aspect-ratio: 380 / 316;
}

@media (max-width: 740px) {
  .BrowsersStat__placeholderImage {
    width: initial;
    max-width: 100%;
    max-height: 300px;
  }
}

.BrowsersStat {
  flex-grow: 1;
}

.BrowsersStat__placeholderText {
  width: 80%;
  margin: 0;
  text-align: center;
}

.BrowsersStat__placeholder--hidden {
  display: none;
}

.BrowsersStat__stat {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.BrowsersStat__stat--hidden {
  display: none;
}

.BrowsersStat__table {
  display: block;
  border-spacing: 8px 0;
}

.BrowsersStat__table tr:first-child td:first-child {
  width: 20px;
}

.BrowsersStat__table tr:first-child td:nth-child(2) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.BrowsersStat__table tr:first-child td:nth-child(3) {
  width: 7ch;
}

.BrowsersStat__td {
  box-sizing: border-box;
  height: 28px;
  line-height: 28px;
  white-space: nowrap;
  vertical-align: top;
  break-inside: avoid;
}

.BrowsersStat__td:last-child {
  width: 6ch;
  text-align: left;
}

.BrowsersStat__td--coverage {
  --coverage: 20%;

  background-image:
    linear-gradient(
      to right,
      var(--accent-alternave) var(--coverage),
      transparent var(--coverage),
      transparent
    );
}

.BrowsersStat__table tbody {
  display: inline-table;
  width: 100%;
  margin-bottom: -1px;
  table-layout: fixed;
  border-top: 1px solid var(--separator);
}

.BrowsersStat__icon {
  display: inline;
  width: 20px;
  height: 20px;
  line-height: 32px;
  vertical-align: middle;
}

.BrowsersStat__toolsVersions {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  padding-top: 24px;
  margin-top: auto;
  color: var(--text-secondary);
}

.BrowsersStat__toolsVersionsItem {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}
