name: Vulnerability Audit
on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/audit.yml'
      - pnpm-lock.yaml
  pull_request:
    paths:
      - '.github/workflows/audit.yml'
      - pnpm-lock.yaml
  schedule:
    - cron: '00 23 * * *' # Runs at midnight UTC every day
permissions:
  contents: read
jobs:
  audit:
    name: Audit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Install Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
          cache: pnpm
      - name: Check Node.js version for vulnerabilities
        run: pnpm dlx is-my-node-vulnerable
      - name: Check dependencies for vulnerabilities
        run: node --run test:audit
