name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout the repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .node-version
          cache: pnpm
      - name: Install dependencies
        run: pnpm install --ignore-scripts
      - name: Run tests
        run: pnpm test

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    if: github.ref == 'refs/heads/main'
    concurrency:
      group: deploy
    needs:
      - test
    steps:
      - name: Checkout the repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .node-version
      - name: Install production dependencies
        run: pnpm install --prod --ignore-scripts
      - name: Build regions
        run: pnpm prebuild
      - name: Build static files
        run: pnpm build
      - name: Build Docker image
        shell: bash
        run: docker build -t us-east1-docker.pkg.dev/browserslist-359212/production/server:latest ./
      - name: Auth Google Cloud
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          workload_identity_provider: projects/599133183470/locations/global/workloadIdentityPools/github/providers/browserslist
          service_account: github-deploy@browserslist-359212.iam.gserviceaccount.com
      - name: Install Google Cloud
        uses: google-github-actions/setup-gcloud@aa5489c8933f4cc7a4f7d45035b3b1440c9c10db # v3.0.1
      - name: Auth Docker
        shell: bash
        run: gcloud auth configure-docker us-east1-docker.pkg.dev --quiet
      - name: Push Docker image
        shell: bash
        run: docker push us-east1-docker.pkg.dev/browserslist-359212/production/server:latest
      - name: Deploy to Cloud Run
        id: deploy
        uses: google-github-actions/deploy-cloudrun@2028e2d7d30a78c6910e0632e48dd561b064884d # v3.0.1
        with:
          service: browserslist
          region: us-east1
          image: us-east1-docker.pkg.dev/browserslist-359212/production/server:latest
          flags: |
            --allow-unauthenticated
            --service-account=github-deploy@browserslist-359212.iam.gserviceaccount.com
      - name: Move traffic to new revision
        shell: bash
        run: |
          gcloud run services update-traffic browserslist \
            --project browserslist-359212 \
            --region us-east1 \
            --to-latest
      - name: Delete previous images
        shell: bash
        run: |
          untagged=$(gcloud artifacts docker images list us-east1-docker.pkg.dev/browserslist-359212/production/server --include-tags --format="get(version)" --filter="NOT tags:*")
          for digest in $untagged; do
            image=us-east1-docker.pkg.dev/browserslist-359212/production/server@$digest
            echo "Deleting unused image: $image"
            gcloud artifacts docker images delete $image --quiet
          done
