name: Update
on:
  schedule:
    - cron: '0 0,12 * * *'
permissions:
  contents: none
jobs:
  update:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ secrets.DEPLOY_TOKEN }}
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .node-version
          cache: pnpm
      - name: Install dependencies
        run: pnpm install --ignore-scripts
      - name: Update dependencies
        run: pnpm update -r caniuse-lite browserslist browserslist-lint baseline-browser-mapping
      - name: Check dependencies
        id: changes
        run: node ./scripts/check-changes.js
      - name: Setup git config
        if: steps.changes.outputs.changes
        run: |
          git config user.name "Andrey Sitnik"
          git config user.email "andrey@sitnik.ru"
      - name: Run tests
        if: steps.changes.outputs.changes
        run: pnpm test
      - name: Commit changes
        if: steps.changes.outputs.changes
        run: |
          git add pnpm-lock.yaml **/package.json
          git commit -m "Update caniuse-lite and browserslist"
      - name: Push changes
        if: steps.changes.outputs.changes
        run: git push --follow-tags
